{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}
{% for user_stock in user_stocks %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Current Price</th>
            <th>Total owned</th>
            <th>Total value</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ user_stock.name }}</td>
            <td>{{ user_stock.price }}</td>
            <td>{{ user_stock.shares_owned }}</td>
            <td>{{ user_stock.total_value }}</td>
        </tr>
    </tbody>
</table>
{%endfor%}

<p>Balance - {{ balance. }}</p>
<p>Grand Total - {{ grand_total }}</p>

{% endblock %}